body,*,html {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  text-align: center;
}

#error {
  color: red;
}
#succ {
  color: green;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

/*index file*/
.index h1{
  text-align: center;
}
.index .items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}
 .healthy, .unhealthy {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 70px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: yellowgreen;
 }
 #marketBtn {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: black;
 }
 #marketBtn:hover{
  background-color: rgb(168, 163, 163);
  text-decoration: none;
 }

 /*healthy snack page*/
.healthy-div {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}
.eachsnack {
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 5px 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
}
.eachsnack img {
  object-fit: cover;
  padding: 5px;
  border-radius: 20px;
}
label {
  display: inline-block;
}
form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addbutton {
  width: 30%;
  margin-top: 30px;
  padding: 10px;
  background-color: yellowgreen;
  border: none;
  border-radius: 20px;
}

/*cart*/
.cart-form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: yellowgreen;
}
.center {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}